li,
a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    /* usado para deixar o menu centrlizado */
    /* justify-content: flex-end; */
    /* usado para deixar centralido a direita */
    align-items: center;
    padding: 8px 18px;
    background-color: #007bff;
    border-radius: 60px;
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    /* margin-right: auto; */
    /* quando usar o flex-end no justify-content precisa usar esse para o logo ficar a esquerda */
    /* width: 60px;
    height: 60px; */
    /* usar quando for o logo ico */
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav-links li a:hover {
    color: #6090d7;
}

button {
    padding: 10px 20px;
    background-color:#fff ; 
    border: none;
    border-radius: 60px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

button:hover {
    background-color: #39619c;
}

/* Responsividade, usado para sobrepor os tamanhos */
@media (max-width: 800px) {

    li,
    a,
    button {
        font-size: 12px;
    }

    .logo {
        font-size: 22px;
    }
}/* #4771b0 */